---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { sortByOrder } from '../../utils/home/sortEntries';

const logos = sortByOrder(await getCollection('clientLogos'));
---

<section class="section_logo3 show-mobile-landscape">
  <div class="padding-section-small logo">
    <div class="logo3_component">
      {[false, true].map((ariaHidden) => (
        <div class="logo3_list-3" aria-hidden={ariaHidden ? 'true' : undefined} inert={ariaHidden ? '' : undefined}>
          {logos.map((entry) => {
            const { logo, logoAlt, sizeClass } = entry.data;
            const imgClass = sizeClass ? `logo3_logo ${sizeClass}` : 'logo3_logo';
            return (
              <div class="logo3_wrapper">
                <Image src={logo} alt={logoAlt} loading="lazy" class={imgClass} />
              </div>
            );
          })}
        </div>
      ))}
    </div>
  </div>
</section>
